**Exercício 1 - Aquecimento de Python para Ciência de Dados**

1. Imprima "Hello, World!" no console.

In [1]:
print("Hello, World!")

Hello, World!

2. Crie uma variável x com valor 10 e imprima seu valor.

In [3]:
x = 10
print(x)

10

3. Some dois números e exiba o resultado.

In [4]:
x = 10
y = 11
print(x+y)

21

4. Verifique se um número é par ou ímpar.

In [10]:
x = 11
if x%2 == 1:
  print ("X eh um numero ímpar")
else:
  print ("x eh um numero par")

X eh um numero ímpar

5. Crie uma função que receba dois números e retorne a soma deles.

In [11]:
def soma(a, b):
    return a + b

soma (1 , 2)

3

6. Crie uma lista com os números de 1 a 5 e imprima-a.

In [16]:
numeros = [1, 2, 3, 4, 5]
print (numeros)

[1, 2, 3, 4, 5]

7. Adicione o número 6 à lista criada na questão anterior.

In [17]:
numeros = [1, 2, 3, 4, 5]
numeros.append(6)
print (numeros)

[1, 2, 3, 4, 5, 6]

8. Remova o número 3 da lista.

In [18]:
numeros = [1, 2, 3, 4, 5]
numeros.remove(3)
print (numeros)

[1, 2, 4, 5]

9. Acesse o terceiro elemento da lista.

In [21]:
numeros = [1, 2, 3, 4, 5]
print (numeros[2])

3

10. Imprima o tamanho da lista.

In [26]:
numeros = [1, 2, 3, 4, 5]
x = len(numeros)
print (x)

5

11. Crie um dicionário com informações de um carro (marca, modelo, ano).

In [38]:
carro = {"marca": "kia", "modelo": "soul", "ano": 2015}
print(carro)

{'marca': 'kia', 'modelo': 'soul', 'ano': 2015}

12. Acesse o valor associado à chave "marca" no dicionário.

In [39]:
print(carro["marca"])

kia
{'marca': 'kia', 'modelo': 'soul', 'ano': 2015}

13. Adicione uma nova chave "cor" com valor "preto" ao dicionário.

In [40]:
carro["placa"] = "KFG"
print(carro)

{'marca': 'kia', 'modelo': 'soul', 'ano': 2015, 'placa': 'KFG'}

14. Verifique se a chave "modelo" existe no dicionário.

In [31]:
if "modelo" in carro:
    print("A chave 'modelo' existe no dicionário.")
else:
    print("A chave 'modelo' não existe no dicionário.")

A chave 'modelo' existe no dicionário.

15. Itere sobre as chaves do dicionário e imprima cada uma delas.

In [42]:
for i in carro.keys(): print(i)

marca
modelo
ano
placa

15. Itere sobre as chaves do dicionário e imprima cada uma delas.

In [43]:
for i in carro.keys(): print(i)

marca
modelo
ano
placa

17. Crie uma função que receba uma lista e retorne a soma dos elementos.

In [54]:
test = [1, 2, 3]
def soma_lista(lista):
    soma1 = sum(lista)
    print(f"A soma dos elementos é: {soma1}")
    return soma1

soma_lista(test)

A soma dos elementos é: 6

6

18. Crie uma função que receba um dicionário e retorne todas as suas chaves.

In [61]:
test_data = {"nome": "Matheus", "idade": 2, "graduações": 3}
def printar_dict(dicionario):
  for i in dicionario.keys():
      print(i)


printar_dict(test_data)

nome
idade
graduações


19. Crie uma função que receba um dicionário e imprima chave e valor em linhas separadas.

In [65]:
test_data = {"nome": "Matheus", "idade": 2, "graduações": 3}

def printar_dict(dicionario):
    for chave, valor in dicionario.items():
        print(f"{chave}\n{valor}")

printar_dict(test_data)

nome
Matheus
idade
2
graduações
3

20. Crie uma classe chamada Pessoa com atributos nome e idade, e um método que imprima esses dados.

In [66]:
class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade

    def imprimir_dados(self):
        print(f"Nome: {self.nome}, Idade: {self.idade}")

# Exemplo de uso:
pessoa1 = Pessoa("Matheus", 25)
pessoa1.imprimir_dados()

Nome: Matheus, Idade: 25